@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<header class="@((ViewBag.LoginView == true) ? "hide-navbar" : "")">
    <link href="/css/logout.css" rel="stylesheet"></link>
    <div class="logosec hover-pointer">
        <img src="~/img/PocketPALHeader.svg"
             style="width: 145px;" alt="logo"
             onclick="window.location.href = '@Url.Action("Index", "Home")';">
    </div>
    <div class="logosec">
        @HttpContextAccessor.HttpContext.Session.GetString("UserName")
        <div class="mr-20 hover-pointer" style="position: relative">
            <div class="dp">
                <img src="~/img/profile-logo.png"
                     class="dpicn hover-pointer"
                     alt="dp">
            </div>
            <div class="dropdown">
                <ul>
                    <li>
                        <i class="fa-solid fa-gear"></i>
                        <a href="#">Profile Settings</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <a href="javascript:void(0);" onclick="showLogoutModal()">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div id="logoutModal" class="modal" style="display: none;">
    <div class="modal-content">
        <h4>Confirm Logout</h4>
        <p>Are you sure you want to log out?</p>
        <div class="modal-actions">
            <button onclick="confirmLogout()">Logout</button>
            <button onclick="hideLogoutModal()">Cancel</button>
        </div>
    </div>
</div>

<script>
    function showLogoutModal() {
        document.getElementById("logoutModal").style.display = "flex";
    }

    function hideLogoutModal() {
        document.getElementById("logoutModal").style.display = "none";
    }

    function confirmLogout() {
        // Redirect to the Logout action
        window.location.href = '@Url.Action("SignOutUser", "Account")';
    }
</script>


